header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  background: linear-gradient(165deg, #0890b0 30%, #ffffff 30%);
}

header > section > div > img {
  max-width: 320px;
}

header > section > div:first-of-type > div {
  position: absolute;
  font-size: 5rem;

  bottom: 0px;
  color: #ffffff;
}

header > section > div:first-of-type {
  position: relative;
}

header > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

h1 {
  font-size: 50px;
}

header > section > p {
  font-size: 25px;
  text-align: center;
  line-height: 1.2;
  width: 300px;
}

header a > img {
  width: 40px;
}

header > section > div:last-child {
  display: flex;
  gap: 30px;
  align-items: center;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  gap: 20px;
  padding-bottom: 50px;
}

main > section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

main > section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 400px;
}

main > section > div > div {
  width: 320px;
  height: 150px;
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.27);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > section > div > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 200px;
  padding: 10px 0px;
}

main > section > div > div > div > p {
  font-size: 20px;
  margin-right: auto;
}

main > section > div > div > p {
  display: flex;
  width: 205px;
}

main a > img {
  width: 18px;
}
main div > img {
  width: 320px;
  height: 250px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 450px;
  background-color: #0890b0;
  color: #ffffff;
  padding: 40px 20px;
  font-size: 20px;
}

footer > section > h1 {
  align-self: center;
}

footer > section > p:nth-child(2) {
  font-size: 25px;
}

footer > section > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

footer > section a {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

footer a > img {
  width: 40px;
}

footer div > img {
  display: none;
}

footer > img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 500px) and (max-width: 1000px) {
  header {
    background: linear-gradient(165deg, #0890b0 50%, #ffffff 30%);
    padding-top: 15vh 40vw 0px;
  }

  header > section > div:last-child {
    display: none;
  }

  header > section > div:first-of-type > div {
    position: absolute;
    color: #ffffff;
    top: -70px;
    left: 40%;
    font-size: 250%;
    width: max-content;
  }

  header > section {
    display: block;
    width: 70vw;
    min-height: 40vh;
    background-color: #ffffff;
    padding: 0% 5% 4%;
    box-shadow: 0px 0px 11px 6px #afafaf;
    margin: 10vh 42vw 0vh;
  }

  header > section > p {
    width: auto;
    text-align: left;
    margin-top: 2.5%;
  }

  header > section > div > img {
    height: 18.4rem;
    width: 55%;
    object-fit: cover;
    float: left;
    position: relative;
    right: 15px;
    transform: translate(-10%, -50px) scale(1.2, 1.4);
    margin-bottom: 15px;
  }

  header h1 {
    text-align: center;
    margin-top: 12%;
  }

  main {
    padding: 0px 3% 50px;
  }
  
  main > section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
